*.properties
.pom.xml
.idea/*
!.idea/codeStyleSettings.xml
*.iml
*.log
application.properties
.settings
.project
.classpath
target
logs
integration_test/.idea/
.DS_Store
.java-version
dev_config/overrides.properties
*.swp
.bundle
.jbundler
vendor
